html,
body,
#app,
.page {
    height: 100%;
}
.page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
}
.page-body {
    position: absolute;
    top: 64px;
    left: 0;
    bottom: 64px;
    width: 100%;
    overflow: auto;
}
.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.12);
}

/**/
.send-box {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    background-color: #f00;
    width: 100%;
}

.demo-float-button {
    position: fixed;
    right: 16px;
    bottom: 72px;
}